<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All posts</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section>
      <i class="fa-brands fa-threads align"></i>
      <div class="sec-mid">
        <i class="fa-solid fa-house align"></i>
        <i class="fa-solid fa-magnifying-glass align"></i>
        <i class="fa-solid fa-plus align add"></i>
        <i class="fa-solid fa-heart align"></i>
        <i class="fa-solid fa-user align"></i>
      </div>
      <div class="sec-end">
        <i class="fa-solid fa-thumbtack align"></i>
        <i class="fa-solid fa-grip-lines align"></i>
      </div>
    </section>
    <main>
      <header>
        <p>Home</p>
        <button>Login</button>
      </header>
      <div class="main-body">
        <div class="content">
          <div class="post1">
            <div class="content-head">
              <div class="head-left">
                <img src="profile/profile1.png" alt="" />
                <a href="">Ms First user</a>
                <p>12h</p>
              </div>
              <i class="fa-solid fa-ellipsis"></i>
            </div>
            <div class="content-description">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus,
                nihil repellendus maiores molestias commodi
              </p>
            </div>
            <div class="content-photo">
              <img src="/profile/profile1-content.png" alt="" />
            </div>
            <div class="content-foot">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-comment"></i>
              <i class="fa-solid fa-code-compare"></i>
              <i class="fa-solid fa-paper-plane"></i>
            </div>
          </div>
          <div class="line"></div>
        </div>
        <div class="login">
          <h2>login or sign up for threads</h2>
          <p>See what people are talking about and join the conversation.</p>
          <button>
            <i class="fa-brands fa-square-instagram"></i>
            <p>Continue with instagram</p>
          </button>
          <p>log in with username instead</p>
        </div>
      </div>
    </main>
    <script src="home.js"></script>
  </body>
</html>
