<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Enter New user</h1>
    <form method="post" action="/user/add">
      <input type="text" name="id" placeholder="id" />
      <input type="text" name="username" placeholder="username" />
      <input type="text" name="email" placeholder="email" />
      <input type="text" name="password" placeholder="password" />
      <button>add</button>
    </form>
  </body>
</html>
