<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete route</title>
  </head>
  <body>
    <h2>delete Request for <%=user.username%></h2>
    <form method="post" action="/user/<%=user.id%>/delete?_method=delete">
      <input type="text" name="email" placeholder="Enter Email" />
      <input type="password" name="password" placeholder="Enter Password" />
      <button>Delete</button>
    </form>
  </body>
</html>
