<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eidt username</title>
  </head>
  <body>
    <h2>You are about to change your username for <%=user.username%></h2>
    <form method="post" action="/user/<%=user.id%>?_method=patch">
      <textarea name="username" id=""><%=user.username%></textarea>
      <input type="password" name="password" placeholder="enter password" />
      <button>Edit username</button>
    </form>
  </body>
</html>
