body {
  background-color: #000;
  color: white;
  overflow: hidden;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.navbar {
  height: 4rem;
}
.main {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
}
.sidebar {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  margin: 0 1rem;
  border-radius: 1rem;
  justify-content: space-evenly;
  padding-top: 1rem;
  height: 78vh;
}
.main-content {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-radius: 1rem;
  flex: 1;
  overflow-y: scroll;
  padding: 0 24px;
  height: 100%;
}
.music-section {
  background: linear-gradient(#a61918, #00f2fe);
  position: fixed;
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}
/*! navbar  */
.navbar {
  display: flex;
  align-items: center;
}
.navbar i {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.nav-one {
  display: flex;
  align-items: center;
  width: 510px;
  padding: 0.2rem 0.1rem;
  margin-left: 1rem;
}
.nav-one-search {
  display: flex;
  align-items: center;
  background-color: #121212;
  height: 3rem;
  border-radius: 1rem;
  padding: 0 0rem;
}
.nav-one i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.nav-one-search i {
  opacity: 0.5;
}
.nav-one-search input {
  width: 348px;
  height: 2rem;
  background-color: transparent;
  border: transparent;
  font-size: 1rem;
  color: white;
  outline: none;
}
.nav-one-search span {
  font-size: 2rem;
  opacity: 0.5;
}
/* hover  */
.nav-one-search:hover {
  border: 2px solid white;
}
.one:hover {
  position: static;
  z-index: 100;
  opacity: 1;
}
/*? nav box two  */
.nav-two {
  height: 3.25rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
}
.nav-two a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
  font-size: 1rem;
}
.para {
  font-size: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  opacity: 0.5;
}

.nav-two-all a:hover {
  opacity: 1;
}
.nav-two .both i,
a {
  opacity: 0.5;
}
.nav-two .both i {
  font-size: 1rem;
}
.both i:hover,
a:hover {
  opacity: 1;
  font-size: 1.3rem;
  transition: all 0.25s ease-in-out 0s;
}
.nav-two button {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1rem;
  height: 48px;
  padding: 0.5rem 1.5rem;
}
.nav-two-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup {
  margin: 0 1rem;
}
.support {
  margin: 0 1rem;
}
.nav-two-right {
  display: flex;
  justify-content: space-evenly;
}
/*! SIDEBAR menu */
.library {
  height: 4.25rem;
  width: 93%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}
.library p,
i {
  margin: 1rem;
}
.library i {
  opacity: 0.5;
}
.library i:hover {
  opacity: 1;
}
/*? scroll part  */
.lib-scroll {
  overflow-y: scroll;
  margin: 1rem 1rem;
  flex-grow: 1;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.lib-scroll .lib-scroll-box {
  height: 150px;
  background-color: rgba(169, 169, 169, 0.1);
  width: 93%;
  border-radius: 1rem;
  padding-left: 1rem;
}
.lib-scroll-box .para1 {
  font-size: 1rem;
  font-weight: 600;
}
.lib-scroll-box .para2 {
  font-size: 0.85rem;
}
.lib-scroll-box button {
  padding: 8px 1rem;
  border-radius: 1rem;
  font-weight: 700;
}
/*? lib-policies  */
.lib-policies {
  bottom: 4.5rem;
  height: 200px;
  width: 420px;
  background-color: #121212;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.lib-policies .policies {
  font-size: 0.65rem;
  padding-left: 0.2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(7, 1fr);
  height: 5.5rem;
  padding-right: 1rem;
  align-items: center;
}
.legal {
  justify-self: end;
}
.spc {
  grid-column: 2 / 5;
  justify-self: center;
}
.privacyp {
  grid-column: 5 / 7;
}
.cook {
  grid-column: 7/8;
}
.aboutus {
  grid-row: 0/1;
  grid-column: 1/3;
  justify-self: center;
}
.access {
  grid-row: 0/1;
  grid-column: 3/5;
}
.lib-language {
  padding-left: 2rem;
}
.lib-language button {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1.75rem;
  padding-top: -9px;
  background-color: black;
  color: white;
  border: 2px solid white;
}

/*! main content  */
.heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 3.75rem;
  margin-top: 1rem;
}
.heading a {
  color: white;
  text-decoration: none;
  opacity: 1;
}
.heading .trend {
  font-size: 1.75rem;
  margin-left: 1rem;
}
.heading .show {
  opacity: 0.5;
}
.heading .show:hover {
  font-size: 1rem;
  text-decoration: underline;
}
.heading .trend:hover {
  text-decoration: underline;
}
.cards {
  display: flex;
  height: 17rem;
  margin-top: 1rem;
}
.card {
  height: 100%;

  width: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  margin-top: 0.5rem;
  width: 90%;
  border-radius: 1rem;
}
.card .main-para1 {
  font-size: 1rem;
  align-self: flex-start;
  margin-left: 1rem;
}
.card .main-para2 {
  font-size: 14px;
  margin-left: 1rem;
  opacity: 0.5;
}
@media (max-width: 1150px) {
  .card-remove {
    display: none;
  }

  .nav-two-right {
    margin-left: -4rem;
  }
  .nav-two-left {
    display: none;
  }
}
/*! music section */

.sign-up {
  padding: 1rem;
  margin-right: 2rem;
  border: none;
  border-radius: 1rem;
  font-weight: 600;
}
